html,
body {
  height: 100%;
  background-color: #333;
  background-image: url("/static/lego.jpg");
  background-size: 140%;
  font-family: SwedenSans, 'Source Sans Pro', sans-serif;
}

body {
    margin-left: 2em;
    margin-right: 2em;
}

div.container {
    background: white;
    min-height: 100%;
}

p { text-align: justify; }

@media (min-width: 768px) {
    p { margin-right: 2em;
        text-align: left; }
}

.masthead, .mastfoot {
    margin-left: 2em;
}

div.logo {
    float: right;
    margin-right: 10px;
}

.mastfoot .inner img.logo {
    height: 12pt;
}

code {
    color: black;
}

.console {
    background: black;
    color: lightgreen;
    font-weight: bold;
}

.console::before {
    content: "> ";
    font-weight: normal;
}
